@using BYUEgypt.Infrastructure
@model Burialmain
<form method="post" asp-action="RecordView" asp-controller="Home">
    <input type="hidden" asp-for="@Model.Id" value="">
    <a type="submit">
    <div class="card border-dark mb-3" style="min-width: 50rem;">
        <div class="card-header d-flex justify-content-end align-items-center">
            <div class="display-8">
                BurialNumber: <i>@Model.Burialnumber</i>
            </div>
        </div>
        <div class="card-body text-dark">
            <h3 class="card-title text-start">@Model.Fieldbookpage</h3>
            <h6 class="card-title text-start display-7">Age at death: @Model.Ageatdeath</h6>
            <div style="width:inherit;">
                <div class="list-group list-group-flush d-flex">
                    <div class="row mb-4 list-group-item-light h-25">
                        <div class="col-6 text-start display-7">Perservation: <b>@Model.Preservation</b></div>
                        <div class="col-6 text-start display-7">Excavation Recorder: <b>@Model.Excavationrecorder</b></div>
                    </div>
                    <div class="row mb-4 border-0 list-group-item-light h-25">
                        <div class="col-4 text-start display-7">Depth: <b>@Model.Depth</b></div>
                        <div class="col-4 text-start display-7">Length: <b>@Model.Length</b></div>
                        <div class="col-4 text-start display-7">Hair Color: <b>@Model.Haircolor</b></div>
                    </div>
                    <div class="row mb-4 list-group-item-light h-auto">
                        <div class="col-12 text-start display-7">Description: <b>@Model.Text</b></div>
                    </div>
                    <div class="row rounded">
                        <div class="col-12 d-flex justify-content-end align-items-center">
                            <div class="list-group-item list-group-item-info display-7">Area: <b> @Model.Area</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </a>
</form>    

@{
    Layout = null;
}

